#results {
  display: none;
  background-color: #b9e2e8;
  margin-top: 1em;
  border-radius: 1em;
  box-shadow: 10px 10px 10px #471717;
}

body {
  background-image: url('../img/pizzabackground.jpeg');
}

.container {
  background-color: #cf4a4a;
  width:fit-content;
  height: 24em;
  margin-top: 11em;
  border-radius: 1em;
  box-shadow: 10px 10px 5px lightslategray;
  text-align: center;
}

.btn {
  box-shadow: 5px 5px 5px #471717;;
}